html :where(.editor-styles-wrapper) {
    font-family: var(--wp--preset--font-family--heading);
}

.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link{
    background-color: transparent !important;
    color: #121738 !important;
}
.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link.has-blue-900-background-color{
    border-color: var(--wp--preset--color--blue-900) !important;
}
.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link.has-blue-800-background-color{
    border-color: var(--wp--preset--color--blue-800) !important;
}
.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link.has-purple-500-background-color{
    border-color: var(--wp--preset--color--purple-500) !important;
}
.editor-styles-wrapper .is-style-outline > .block-editor-rich-text__editable.wp-block-button__link.has-pink-300-background-color{
    border-color: var(--wp--preset--color--pink-300) !important;
}